# SPDX-License-Identifier: Unlicense

# PyCUPS needs a virtual environment, or be installed via apt python3-cups
#pycups

pystemd
pyusb
requests

# gpiozero may use RPi.GPIO, pigpio or rpio as "pin factories", which
# are selected by the environment variable GPIOZERO_PIN_FACTORY.
RPi.GPIO
gpiozero
